<!-- <div class="container"
    style="margin: auto; width:25%; margin-top:125px; padding-bottom:25px; background-color:lightgray">
    <div class="column">
        <div class="row">
            <app-input></app-input>
        </div>
        <div class="row">
            <app-submit></app-submit>
        </div>
        <div class="row">
            <app-output></app-output>
        </div>
    </div>
</div> -->

<div class="container"
    style="margin: auto; width:25%; margin-top:125px; padding-bottom:25px; background-color:lightgray">
    <div class="column">
        <div class="row">
            <div class="col-12">
                <app-input></app-input>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <app-submit></app-submit>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <app-output></app-output>
            </div>
        </div>
    </div>
</div>