<div class="container">
    <form>
        <div class="row">
            <div class="col-lg-6 text-center"
                style="padding-left: 0px; padding-right: 0px;padding-top: 4px; background-color:lightslategrey">
                <input type="text" [formControl]="data" required>
            </div>
            <div class="col-lg-6 text-center"
                style="padding-left: 0px; padding-right: 0px;background-color:lightsteelblue">
                <button class="btn btn-primary" (click)="submit()">ship data</button>
            </div>
        </div>
    </form>
</div>