<div class="w-50 p-2 text-center" style="margin: 25px auto auto auto">
  <form class="form-signin">

    <textarea #chat class="form-control" rows=20 disabled></textarea>
    <input type="text" #message class="form-control" placeholder="message" required autofocus>

    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="onSubmit(message.value)">send</button>

    <p class=" mt-5 mb-3 text-muted">&copy; 2019</p>

    <a routerLink="/dash" routerLinkActive="active">dashboard</a>
  </form>
</div>
