<div class="container">
    <div class="column">
        <div class="row justify-content-center">
            <app-data-form (submitEvent)="receiveMessage($event)"></app-data-form>
        </div>
        <div class="row justify-content-center">
            <app-units [units]="data"></app-units>
        </div>
        <div class="row">
            <button routerLink="/login" class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 25px"> to /login</button>
        </div>
    </div>
</div>